<app-header ></app-header>
 <!-- <marquee behavior="scroll" direction="right" style="text-align: center;">Welcome to the home page</marquee> -->
 <div class="alert alert-success  alert-dismissible fade show" role="alert">
  <strong>We are still developing .... Any suggestions😊</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="content">
<router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">© 2023 Medical Management. All rights reserved.</span>
  </div>
</footer>


