.table-container {
  max-height: 400px; /* Set the desired height */
  overflow-y: auto;  /* Enable vertical scrolling */
}

.mat-mdc-header-row{
  background-color: whitesmoke; /* Change this to your desired color */
  color: black; /* Change this to your desired text color */
}


/* Optional: Change the hover color for the rows */
.mat-mdc-row:nth-child(even) {
  background-color: #f0f0f0; /* Change this to your desired hover color */
}
.button{

}
